* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 7.5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(31, 30, 30);
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} */
/* 
body:after,
body:before {
  content: "";
  position: fixed;
  background: red;
  z-index: 99999;
}
body:after {
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
}
body:before {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
} 
 */
